assi3p3 copy/onepiece.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="onepieces">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="onepiece" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="island" type="xs:string"/>
              <xs:element name="ship" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:positiveInteger"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>